body {
	max-width: 500px;
	margin: 0 auto;
}

.header {
	text-align: center;	
}

#app label {
	display: none;
}

.controls {
	overflow: auto;
	position: relative;
}

.controls h2 {
	float: left;
	margin-bottom: .3em;
}

.controls ul {
	position: absolute;
	right: 0;
}

/* NOTE: reusing styles. could get dicey moving forward */
ul {
	float: right;
}

li {
	display: inline;
}

li:after {
	content: " | ";
}

li:last-child:after {
	content: "";
}

ul button {
    background: 0;
    padding: 0;
    margin: 0;
    color: #0074d9;
}

ul span.current {
	font-weight: bold;
	color: #000;
	vertical-align: middle;
}

#problem {
	padding: 1em;
    background-color: #eee;
    border-radius: 1em;
    margin-bottom: 1em;
}

/* picnic css - you failed me and went too far... sniff */
#problem pre {
	white-space: pre-wrap;
	background: 0;
	font: inherit;
}

#app form {
	vertical-align: top;
}

#answer {
	width: 82%;
}

.footer p {
	float: left;
}

input, textarea, .g-recaptcha {
	margin-bottom: 1em;
}

h2 {
	padding-bottom: 0;
}

.postControls {
	width: 100%;
	display: inline-block;
}

#category, #date {
	margin-top: -.75em;
}

#category {
	float: left;
}

#date {
	float: right;
}

#hint p {
    vertical-align: middle;  
}

/* HERE THER BE A LITTLE DIRTY CSS */
.flex {
	display: flex;
	align-items: center;
  	justify-content: center;
}

.flex >* {
	flex-basis: 50%;
}

.flex h1 {
	text-align: center;
}

#incorrect {
	text-align: center;
}

#incorrect .buttons {
	margin-top: 1.5em;
	overflow: hidden;
}

.buttons button {
	float: right;
}

.buttons button#try {
	margin-left: 1em;
}

/* AND HERE IT ENDS*/

/* MOBILE READY */
@media screen and (max-width: 500px) {
	body {
		margin: 0 1em;
	}
	#answer {
		width: 75%;
	}
	.controls li {
		display: block;
		text-align: right;
	}
	.controls li:after {
		content: "";
	}
	#date {
		float: left;
	}

	/* I KNOW, THIS IS BAD MOBILE UX */
	#category {
		display: none;
	}
}